Workflows/HttpTriggered/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Uploads_a_Blob_to_Azure_Storage": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "containerName": "myotherblobs",
                        "blobName": "@triggerBody()?['name']",
                        "content": "@triggerBody()"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "AzureBlob",
                        "operationId": "uploadBlob",
                        "serviceProviderId": "/serviceProviders/AzureBlob"
                    }
                },
                "runAfter": {}
            },
            "Query_items": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "databaseId": "SampleDB",
                        "containerId": "Persons",
                        "queryText": "SELECT * FROM c"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "AzureCosmosDB",
                        "operationId": "QueryDocuments",
                        "serviceProviderId": "/serviceProviders/AzureCosmosDB"
                    }
                },
                "runAfter": {
                    "Uploads_a_Blob_to_Azure_Storage": [
                        "Succeeded"
                    ]
                }
            },
            "Uploads_a_Blob_to_Azure_Storage_2": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "containerName": "myotherblobs",
                        "blobName": "@body('Query_items')?['activityId']",
                        "content": "@body('Query_items')?['items']"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "AzureBlob",
                        "operationId": "uploadBlob",
                        "serviceProviderId": "/serviceProviders/AzureBlob"
                    }
                },
                "runAfter": {
                    "Query_items": [
                        "Succeeded"
                    ]
                }
            },
            "Response": {
                "type": "Response",
                "kind": "http",
                "inputs": {
                    "statusCode": 200,
                    "body": "@body('Uploads_a_Blob_to_Azure_Storage_2')?['properties']?['creationTime']"
                },
                "runAfter": {
                    "Uploads_a_Blob_to_Azure_Storage_2": [
                        "Succeeded"
                    ]
                }
            }
        },
        "triggers": {
            "manual": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "schema": {
                        "type": "object",
                        "properties": {
                            "name": {
                                "type": "string"
                            }
                        }
                    },
                    "method": "POST"
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {}
    },
    "kind": "Stateful"
}